<!DOCTYPE html>
    <html>
    <head>
    <link rel="stylesheet" href="https://unpkg.com/@@picocss/pico@@latest/css/pico.classless.min.css">
        <title>@ViewBag.Title</title>
    </head>
    <body>
    <div style="padding: 2rem;">
		@RenderBody()
    </div>
    @RenderSection("Scripts", false)
    </body>
    </html>