@model CreateVM
@{
	ViewBag.Title = "Add Game";
}

<main>
	<h1>Add a New Game</h1>

	<form asp-controller="GamesList" asp-action="Create">
		<div>
			<label asp-for="Name">Game Title</label>
			<input asp-for="Name" />
			<small><span asp-validation-for="Name"></span></small>
		</div>

		<div>
			<label asp-for="Publisher">Publisher</label>
			<input asp-for="Publisher" />
			<small><span asp-validation-for="Publisher"></span></small>
		</div>

		<div>
			<label asp-for="ReleaseYear">Release Year</label>
			<input asp-for="ReleaseYear" />
			<small><span asp-validation-for="ReleaseYear"></span></small>
		</div>

		<div>
			<label asp-for="Rating">Rating</label>
			<input asp-for="Rating" />
			<small><span asp-validation-for="Rating"></span></small>
		</div>

		<input type="submit" value="Create" />
	</form>
</main>
@section scripts
{
	<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.7.1.min.js"></script>

	<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>

	<script src="https://ajax.aspnetcdn.com/ajax/mvc/5.2.3/jquery.validate.unobtrusive.min.js"></script>
}
